/* amarillo #F2D479 */
/* azul #3966BF */
/* violeta #8C4F88 */
/* rojo #D93030 */


/* HEROS */

.viewport-div {
    min-height: 50vh;
    min-width: 50vw;
}

.yellow-frame {
    border: 2vw solid #F2D479;
    padding: 4vw;
    background: #EAF0F6;
    background-clip: border-box;
}

.blue-frame {
    border: 2vw solid #3966BF;
    padding: 4vw;
    background: #EAF0F6;
    background-clip: border-box;
}

.red-frame {
    border: 2vw solid #D93030;
    padding: 4vw;
    background: #EAF0F6;
    background-clip: border-box;    
}

.purple-frame {
    border: 2vw solid #8C4F88;
    padding: 4vw;
    background: #EAF0F6;
    background-clip: border-box;
}

.blue-background {
    background-color: #3966BF;

}


/* SWIPER JS */

.swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-sponsor {
    width: 30% !important;
    /* height: 50% !important; */
}

.swiper-merch {
    width: 50% !important;
}

.swiper-gallery {
    width: 80% !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

:root {
    --swiper-theme-color:  #F2D479 !important; 
}


@media (max-width: 1024px) {

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .swiper-sponsor {
        width: 100% !important;
        /* height: 50% !important; */
    }
    .swiper-merch {
        width: 100% !important;
    }
    
    .swiper-gallery {
        width: 100% !important;
    }
  
    
  }
  




/* SHOP BTNS */

.shop-btn {
    width: 50vw;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 1vw;
    font-size: large;
    border: none;
    cursor: pointer;
    background-color:  #3966BF;
}


/* WAPP BTN */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}